


/* раньше работало...*/
.optica h1 {
    background-color: royalblue;
    color: antiquewhite;
    border-radius: 15px;
}

.optica h2 {
    color: cornflowerblue;
}

.leftMenu {
    width: 150px;
    background-color: chartreuse;
    color: darkblue;
    border-radius: 30px;
    display: inline;
    border: fuchsia;
}

.search {
    position: relative;
    width: 1700px;
    right: -200px;
    top: -150px;

    background-color: azure;
    color: sienna;
}

.addNew{
    position: relative;
    right: -500px;
    margin-bottom: 50px;
}

.search_result {
    position: relative;
    width: 1700px;
    right: -200px;
    top: -150px;

    border-spacing: 0;
    background: #FDFFF9;
    color: sienna;
}

tbody.telo tr:hover {
    background: darkmagenta;
    color: burlywood;
}
.currentPage {
    background: sienna;
    color: azure;
}
