


/* раньше работало...*/
.optica h1 {
    background-color: royalblue;
    color: antiquewhite;
    border-radius: 15px;
}

.optica h2 {
    color: cornflowerblue;
}

.leftMenu {
    width: 300px;
    background-color: royalblue;
    color: darkturquoise;
    border-radius: 30px;
    display: inline;
    border: fuchsia;
}

.entities {
    position: relative;
    width: 1400px;
    right: -350px;
    top: -150px;
    background-color: azure;
    color: sienna;
}

.addNew{
    position: relative;
    right: -500px;
    margin-bottom: 50px;
}

.frame_table {
    border-spacing: 0;
}

tbody.telo tr:hover {
    background: darkmagenta;
    color: burlywood;
}