<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>EyeFramesList</title>
    <link rel="stylesheet" data-th-href="@{/css/cssFrame.css}">
    <script src="js/jsFrame.js"></script>
</head>
<body>

<!-- fragment 'optica' from fragments.html -->
<div data-th-insert="~{fragments :: optica}" class="optica"></div>

<!-- fragment 'left_menu' from fragments.html -->
<div data-th-insert="~{fragments :: left_menu}" class="leftMenu"></div>


<!-- search-->
<div class="search">

    <h2>
        Оправы:
    </h2>
    <hr>

    <!-- form НАЙТИ/СОЗДАТЬ -->
    <!-- отсылает:      whichFieldOnInput,  -->
    <!--                firm, model, details, purchase, sale -->
    <!-- принимает:      whichFieldOnInput,     -->
    <!--                 firm, model, details, purchase, sale -->
    <form onkeydown="return event.key != 'Enter';" method="post" data-th-action="@{/api/searchFrames}">
        <input id="whichFieldOnInput_id" type="hidden" name="whichFieldOnInput">
        <span>Начните вводить, чтобы НАЙТИ или СОЗДАТЬ НОВЫЙ ТОВАР:</span>&nbsp;
        <!-- |Весь список| -->
        <button type="submit" data-th-formaction="@{/api/noSpec}">Показать все</button>

        <table>
            <tbody>
            <tr >
                <td>
                    <!-- |Фирма|  -->
                    <input data-th-if="${whichFieldOnInput == 'firm'} " autofocus
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput="document.getElementById('whichFieldOnInput_id').value='firm';this.form.submit();"
                           type="text" placeholder="Фирма*"
                           name="firm" data-th-value="${filters.firm}">
                    <input data-th-unless="${whichFieldOnInput == 'firm'}"
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput="document.getElementById('whichFieldOnInput_id').value='firm';this.form.submit();"
                           type="text" placeholder="Фирма*"
                           name="firm" data-th-value="${filters.firm}">
                </td>
                <td>
                    <!-- |Модель| -->
                    <input data-th-if="${whichFieldOnInput == 'model'}" autofocus
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput=" document.getElementById('whichFieldOnInput_id').value='model'; this.form.submit();"
                           type="text" placeholder="Модель*"
                           name="model" data-th-value="${filters.model}">
                    <input data-th-unless="${whichFieldOnInput == 'model'}"
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput="document.getElementById('whichFieldOnInput_id').value='model'; this.form.submit();"
                           type="text" placeholder="Модель*"
                           name="model" data-th-value="${filters.model}">
                </td>
                <td>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                    <!-- |тип монтажа| -->
                    <select onblur=this.form.submit() name="frameInstallType">
                        <option value="" >тип монтажа</option>
                        <option
                                data-th-each="type : ${installTypes}"
                                data-th-if="${type == filters.frameInstallType}" selected
                                data-th-value="${type}"
                                data-th-text="${type.str}">
                        </option>
                        <option
                                data-th-each="type : ${installTypes}"
                                data-th-unless="${type == filters.frameInstallType}"
                                data-th-value="${type}"
                                data-th-text="${type.str}">
                        </option>
                    </select>
                    <input type="hidden"/>

                    <!-- |материал| -->
                    <select onblur=this.form.submit() name="frameMaterial">
                        <option value="" >материал</option>
                        <option
                                data-th-each="material : ${materials}"
                                data-th-if="${material == filters.frameMaterial}" selected
                                data-th-value="${material}"
                                data-th-text="${material.str}">
                        </option>
                        <option
                                data-th-each="material : ${materials}"
                                data-th-unless="${material == filters.frameMaterial}"
                                data-th-value="${material}"
                                data-th-text="${material.str}">
                        </option>
                    </select>
                    <input type="hidden"/>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                </td>
                <td>
                    <!-- |Описание| -->
                    <input data-th-if="${whichFieldOnInput == 'details'}" autofocus
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput=" document.getElementById('whichFieldOnInput_id').value='details'; this.form.submit();"
                           type="text" placeholder="Описание"
                           name="details" data-th-value="${filters.details}">
                    <input data-th-unless="${whichFieldOnInput == 'details'}"
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput=" document.getElementById('whichFieldOnInput_id').value='details'; this.form.submit();"
                           type="text" placeholder="Описание"
                           name="details" data-th-value="${filters.details}">
                </td>
                <!-- framePurchase -->
                <td>
                    <input type="number" placeholder="Закупка (руб.)"
                           name="purchase" data-th-value="${filters.purchase}">
                </td>
                <!-- frameSale -->
                <td>
                    <input type="number" placeholder="Продажа (руб.)"
                           name="sale" data-th-value="${filters.sale}">
                </td>
                <td>
                    <input type="submit" value="Поиск">
                </td>
                <td>
                    <button type="submit" formaction="/api/clearSearch">Очистить</button>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit" formaction="/api/createFrame">Создать по введенным данным</button>
                </td>
            </tr>
            </tbody>
        </table>

    </form>


    <div data-th-if="${errors}">
        <ul>
            <li data-th-each="err : ${errors}" data-th-text="${err}">Ош...ка!</li>
        </ul>
    </div>

</div>

<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->

<br>

<div class="search_result">
    <hr>

    <div class="dto_div">

        <!-- 1. edit table-->

        <table data-th-if="${editMode}" class="frame_table_editMode">
            <thead>
            <tr>
                <th align="left">№</th>
                <th align="left">Фирма</th>
                <th align="left">Модель</th>
                <th align="left">Тип монтажа</th>
                <th align="left">Материал</th>
                <th align="left">Описание</th>
                <th align="left">Закупка (руб.)</th>
                <th align="left">Розница (руб.)</th>
                <th align="left">Количество (шт.)</th>
                <th><!-- +1 --></th>
                <th><!-- -1 --></th>
                <th><!-- Удалить позицию --></th>
                <th><!-- В ЗАКАЗ --></th>
            </tr>
            </thead>

            <tbody class="telo">
            <tr class="frame_row" data-th-each="container : ${page.getContent()}">
                <!-- № и галочка-->
                <td width="60">
                    <span data-th-if="${container.id == xId}"
                          data-th-text="${containerStat.count} +  ' &#9989;'"></span>
                    <span data-th-unless="${container.id == xId}" data-th-text="${containerStat.count} + '  '"></span>
                </td>

                <td width="100"><!-- firm -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="firm"
                               data-th-value="${container.firm}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <td width="100"><!-- model -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="model"
                               data-th-value="${container.model}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <td width="100"><!-- тип монтажа -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <select onblur=this.form.submit() name="frameInstallType">
                            <option value="" disabled>тип монтажа</option>
                            <option
                                    data-th-each="type : ${installTypes}"
                                    data-th-if="${type == container.frameInstallType}" selected
                                    data-th-value="${type}"
                                    data-th-text="${type.str}">
                            </option>
                            <option
                                    data-th-each="type : ${installTypes}"
                                    data-th-unless="${type == container.frameInstallType}"
                                    data-th-value="${type}"
                                    data-th-text="${type.str}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <td width="100"><!-- материал -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <select onblur=this.form.submit() name="frameMaterial">
                            <option value="" disabled>материал</option>
                            <option
                                    data-th-each="material : ${materials}"
                                    data-th-if="${material == container.frameMaterial}" selected
                                    data-th-value="${material}"
                                    data-th-text="${material.str}">
                            </option>
                            <option
                                    data-th-each="material : ${materials}"
                                    data-th-unless="${material == container.frameMaterial}"
                                    data-th-value="${material}"
                                    data-th-text="${material.str}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <td width="100"><!-- details -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="details"
                               data-th-value="${container.details}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <td width="100"><!-- purchase -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="purchase"
                               data-th-value="${container.purchase}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <td width="100"><!-- sale -->
                    <form data-th-if="${editMode}" method="post" data-th-action="@{/api/updateFrame}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="sale"
                               data-th-value="${container.sale}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>

                </td>

                <td width="100" align="center"><!-- Колличество (шт.) -->
                    <span data-th-text="${#lists.size(container.frameList)}"></span>
                </td>

                <!-- +1 -->
                <td>
                    <form method="post" data-th-action="@{/api/plus1}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                        <input type="submit" value="+1">
                    </form>
                </td>

                <!-- -1 -->
                <td>
                    <form method="post" data-th-action="@{/api/minus1}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                        <input type="submit" value="-1">
                    </form>
                </td>

                <!-- Удалить позицию-->
                <td>
                    <form method="post" data-th-action="@{/api/deletePosition}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="submit" value="Удалить позицию">
                    </form>
                </td>

                <!-- В ЗАКАЗ -->
                <td>
                    <form method="post" data-th-action="@{/api/deleteFrame/{id}(id=${container.id})}">
                        <input type="submit" value="В ЗАКАЗ">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>


        <!-- 2. no edit table -->

        <table data-th-unless="${editMode}" class="frame_table_noEditMode">
            <thead>
            <tr>
                <th align="left">№</th>
                <th align="left">Фирма</th>
                <th align="left">Модель</th>
                <th align="left">Тип монтажа</th>
                <th align="left">Материал</th>
                <th align="left">Описание</th>
                <th align="left">Закупка (руб.)</th>
                <th align="left">Розница (руб.)</th>
                <th align="left">Количество (шт.)</th>
                <th><!-- +1 --></th>
                <th><!-- -1 --></th>
                <th><!-- Удалить позицию --></th>
                <th><!-- В ЗАКАЗ --></th>
            </tr>
            </thead>

            <tbody class="telo">
            <tr class="frame_row" data-th-each="container : ${page.getContent()}">
                <!-- № и галочка-->
                <td width="60" align="left">
                    <span data-th-if="${container.id == xId}"
                          data-th-text="${containerStat.count} +  '&#9989;'"></span>
                    <span data-th-unless="${container.id == xId}" data-th-text="${containerStat.count} + '  '"></span>
                </td>

                <td width="150" align="left"><!-- firm -->
                    <label  data-th-text="${container.firm}">*фирма*</label>
                </td>

                <td width="150" align="left"><!-- model -->
                    <label  data-th-text="${container.model}">*модель*</label>
                </td>

                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <td width="150" align="left"><!-- тип монтажа -->
                    <label  data-th-text="${container.getFrameInstallType() == null ? null : container.getFrameInstallType().getStr()}"></label>
                </td>

                <td width="150" align="left"><!-- тип монтажа -->
                    <label  data-th-text="${container.getFrameMaterial() == null ? null : container.getFrameMaterial().getStr()}"></label>
                </td>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <td width="150" align="left"><!-- details -->
                    <label  data-th-text="${container.details}">*описание*</label>
                </td>

                <td width="150" align="left"><!-- purchase -->
                    <label  data-th-text="${container.purchase}">*закупка*</label>
                </td>

                <td width="150" align="left"><!-- sale -->
                    <label  data-th-text="${container.sale}">*продажа*</label>
                </td>

                <td align="left"><!-- Колличество (шт.) -->
                    <span data-th-text="${#lists.size(container.frameList)}"></span>
                </td>

                <!-- В ЗАКАЗ -->
                <td>
                    <form method="post" data-th-action="@{/api/deleteFrame/{id}(id=${container.id})}">
                        <input type="submit" value="В ЗАКАЗ">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

        <hr>
        <br>
        <!-- info -->
        <label>
            <span data-th-if="${message_itsFullList}">Полный список:  </span>
            <span data-th-unless="${message_itsFullList}">Найдены совпадения:  </span>&nbsp;&nbsp;
            <span data-th-if="${page.getTotalPages() > 0}">cтраницa <span data-th-text="${page.getNumber() + 1}"></span> (из <span
                    data-th-text="${page.getTotalPages()}"></span>)</span>&nbsp;&nbsp;&nbsp;&nbsp;
            <span data-th-unless="${page.getTotalPages() > 0}">НЕТ СОВПАДЕНИЙ</span>&nbsp;&nbsp;&nbsp;&nbsp;
            позиций: <span data-th-text="${foundFramePositions}"></span> (из <span
                data-th-text="${dbFramePositions}"></span>) &nbsp;&nbsp;&nbsp;&nbsp;
            единиц товара: <span data-th-text="${foundFrameUnits}"></span> (из <span
                data-th-text="${dbFrameUnits}"></span>) &nbsp;
        </label>&nbsp;&nbsp;&nbsp;&nbsp;

        <!-- <- 1 2 3 4 5 -> -->
        <!-- имеет ли смысл вообще показывать про страницы -->
        <div data-th-if="${foundFramePositions} and ${foundFramePositions > 0}">

            <!-- Назад    -->
            <a data-th-if="${page.getNumber() > 0}"
               data-th-href="@{'/api/flipFramePage/' + ${page.getNumber() - 1}}">&#9668;</a>&nbsp;
            <label data-th-unless="${page.getNumber() > 0}">&#9668;</label>&nbsp;

            <!-- Цифры    -->
            <span data-th-each="i : ${#numbers.sequence(0, page.getTotalPages() - 1)}">
                <a data-th-if="${i != page.getNumber()}"
                   data-th-href="@{'/api/flipFramePage/' + ${i}}">[[${i + 1}]]</a>
                <span data-th-unless="${i != page.getNumber()}" class="currentPage">[[${i + 1}]]</span>
            </span>&nbsp;

            <!--  Вперед -->
            <a data-th-if="${page.getNumber() < (page.getTotalPages() - 1)}"
               data-th-href="@{'/api/flipFramePage/' + ${page.getNumber() + 1} }">&#9658;</a>
            <label data-th-unless="${page.getNumber() < (page.getTotalPages() - 1)}">&#9658;</label>

            <br><br>

            <hr>
            <!-- включить редактирование-->
            <form data-th-unless="${editMode}" method="get" data-th-action="@{/api/editFrames_on}">
                <input type="submit" value="Включить редактирование">
            </form>&nbsp;
            <form data-th-if="${editMode}" method="get" data-th-action="@{/api/editFrames_off}">
                <input type="submit" value="Выключить редактирование">
            </form>

        </div>
    </div>
</div>
<br>
<br>
<br>

<hr>


<hr>


</body>
</html>

