<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Glasses</title>
    <link rel="stylesheet" data-th-href="@{/css/cssFrame.css}">
    <script src="js/jsFrame.js"></script>
</head>
<body>

<!-- fragment 'optica' from fragments.html -->
<div data-th-insert="~{fragments :: optica}" class="optica"></div>

<!-- fragment 'left_menu' from fragments.html -->
<div data-th-insert="~{fragments :: left_menu}" class="leftMenu"></div>


<!-- search-->
<div class="search">

    <h2>
        Очковые линзы:
    </h2>
    <hr>

    <form onkeydown="return event.key != 'Enter';" method="post" data-th-action="@{/api/searchGlasses}">
        <input id="whichFieldOnInput_id" type="hidden" name="whichFieldOnInput">
        <span>Начните вводить для автоматического поиска:</span>&nbsp;
        <button type="submit" data-th-formaction="@{/api/noSpecGlasses}">Найти все</button>

        <table>
            <tbody>
            <tr>
                <!-- галочка (если фильтры копированы из таблицы) -->
                <td>
                    <span data-th-if="${copyToSearch}">&#9989;</span>
                </td>
                <!-- |Фирма|  -->
                <td>
                    <input data-th-if="${whichFieldOnInput == 'firm'} " autofocus
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput="document.getElementById('whichFieldOnInput_id').value='firm';this.form.submit();"
                           type="text" placeholder="Фирма*"
                           name="firm" data-th-value="${filters.firm}">
                    <input data-th-unless="${whichFieldOnInput == 'firm'}"
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput="document.getElementById('whichFieldOnInput_id').value='firm';this.form.submit();"
                           type="text" placeholder="Фирма*"
                           name="firm" data-th-value="${filters.firm}">
                </td>

                <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                <!-- |материал| -->
                <td>
                    <select onchange="this.form.submit()" name="material">
                        <option value="">Материал</option>
                        <option
                                data-th-each="material : ${materials}"
                                data-th-if="${material == filters.material}" selected
                                data-th-value="${material}"
                                data-th-text="${material.str}">
                        </option>
                        <option
                                data-th-each="material : ${materials}"
                                data-th-unless="${material == filters.material}"
                                data-th-value="${material}"
                                data-th-text="${material.str}">
                        </option>
                    </select>
                    <input type="hidden"/>
                </td>

                <!-- |дизайн| -->
                <td>
                    <select onchange="this.form.submit()" name="design">
                        <option value="">Дизайн</option>
                        <option
                                data-th-each="d : ${designs}"
                                data-th-if="${d == filters.design}" selected
                                data-th-value="${d}"
                                data-th-text="${d.str}">
                        </option>
                        <option
                                data-th-each="d : ${designs}"
                                data-th-unless="${d == filters.design}"
                                data-th-value="${d}"
                                data-th-text="${d.str}">
                        </option>
                    </select>
                    <input type="hidden"/>
                </td>

                <!-- |материал| -->
                <td>
                    <select onchange="this.form.submit()" name="coat">
                        <option value="">Покрытие</option>
                        <option
                                data-th-each="c : ${coats}"
                                data-th-if="${c == filters.coat}" selected
                                data-th-value="${c}"
                                data-th-text="${c.str}">
                        </option>
                        <option
                                data-th-each="c : ${coats}"
                                data-th-unless="${c == filters.coat}"
                                data-th-value="${c}"
                                data-th-text="${c.str}">
                        </option>
                    </select>
                    <input type="hidden"/>
                </td>
                <!-- ///////////////////////////////////////////////////////////////////////////////////// -->
                <td>
                    <!-- |Описание| -->
                    <input data-th-if="${whichFieldOnInput == 'details'}" autofocus
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput=" document.getElementById('whichFieldOnInput_id').value='details'; this.form.submit();"
                           type="text" placeholder="Описание"
                           name="details" data-th-value="${filters.details}">
                    <input data-th-unless="${whichFieldOnInput == 'details'}"
                           onfocus="this.selectionStart = this.selectionEnd = this.value.length"
                           oninput=" document.getElementById('whichFieldOnInput_id').value='details'; this.form.submit();"
                           type="text" placeholder="Описание"
                           name="details" data-th-value="${filters.details}">
                </td>
                <!-- framePurchase -->
                <td>
                    <input type="number" placeholder="Закупка (руб.)"
                           name="purchase" data-th-value="${filters.purchase}">
                </td>
                <!-- frameSale -->
                <td>
                    <input type="number" placeholder="Продажа (руб.)"
                           name="sale" data-th-value="${filters.sale}">
                </td>

                <!--////////////-->
                <!-- |диоптрия| -->
                <td>
                    <select  name="dioptre"
                             onchange="document.getElementById('whichFieldOnInput_id').value='dioptre';this.form.submit();">
                        <option value="">Диоптрия</option>
                        <option
                                data-th-each="d : ${dioptres}"
                                data-th-if="${d == filters.dioptre}" selected
                                data-th-value="${d}"
                                data-th-text="${d}">
                        </option>
                        <option
                                data-th-each="d : ${dioptres}"
                                data-th-unless="${d == filters.dioptre}"
                                data-th-value="${d}"
                                data-th-text="${d}">
                        </option>
                    </select>
                    <input type="hidden"/>
                </td>
                <!--////////////-->

                <td>
                    <button type="submit" formaction="/api/clearGlassInputs">Очистить</button>
                </td>
                <td>
                    <button type="submit">Найти</button>
                </td>
            </tr>

            </tbody>
        </table>

        <td colspan="2">
            <button type="submit" formaction="/api/createGlass">Создать по введенным данным</button>
        </td>
    </form>

    <div data-th-if="${errors}">
        <ul>
            <li data-th-each="err : ${errors}" data-th-text="${err}">Ош...ка!</li>
        </ul>
    </div>

</div>

<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------------------------------------------- -->

<br>

<div class="search_result">


    <!-- 1. -->
    <!--    edit table-->


    <div data-th-if="${editMode}" id="edit_table_div">
        <hr color="red">
        <table>
            <thead>
            <tr>
                <th align="left">№</th>
                <th align="left">Фирма</th>
                <th align="left">Материал</th>
                <th align="left">Дизайн</th>
                <th align="left">Покрытие</th>
                <th align="left">Описание</th>
                <th align="left">Закупка (руб.)</th>
                <th align="left">Розница (руб.)</th>
                <th align="left">Диоптрия</th>
                <th align="left">Количество (шт.)</th>
                <th><!-- +1 --></th>
                <th><!-- -1 --></th>
                <th><!-- Удалить позицию --></th>
                <th><!-- Копир. в поиск --></th>
                <th><!-- В ЗАКАЗ --></th>
            </tr>
            </thead>

            <tbody>
            <tr data-th-each="container : ${page.getContent()}">
                <!-- № и галочка-->
                <td width="80">
                    <div data-th-if="${container.id == xId}">
                        <span data-th-if="${sameContainerAlreadyExists}"
                              data-th-text="${containerStat.count} +  ' &#9989;(+1)'"></span>
                        <span data-th-unless="${sameContainerAlreadyExists}"
                              data-th-text="${containerStat.count} +  ' &#9989;'"></span>
                    </div>
                    <div data-th-unless="${container.id == xId}">
                        <span data-th-text="${containerStat.count} + '  '"></span>
                    </div>
                </td>

                <td width="100"><!-- firm -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="firm"
                               data-th-value="${container.firm}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <td width="100"><!-- материал -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <select onchange="this.form.submit()" name="material">
                            <option
                                    data-th-each="material : ${materials}"
                                    data-th-if="${material == container.material}" selected
                                    data-th-value="${material}"
                                    data-th-text="${material.str}">
                            </option>
                            <option
                                    data-th-each="material : ${materials}"
                                    data-th-unless="${material == container.material}"
                                    data-th-value="${material}"
                                    data-th-text="${material.str}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <td width="100"><!-- дизайн -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <select onchange="this.form.submit()" name="design">
                            <option
                                    data-th-each="d : ${designs}"
                                    data-th-if="${d == container.design}" selected
                                    data-th-value="${d}"
                                    data-th-text="${d.str}">
                            </option>
                            <option
                                    data-th-each="d : ${designs}"
                                    data-th-unless="${d == container.design}"
                                    data-th-value="${d}"
                                    data-th-text="${d.str}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <td width="100"><!-- тип монтажа -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <select onchange="this.form.submit()" name="coat">
                            <option
                                    data-th-each="c : ${coats}"
                                    data-th-if="${c == container.coat}" selected
                                    data-th-value="${c}"
                                    data-th-text="${c.str}">
                            </option>
                            <option
                                    data-th-each="c : ${coats}"
                                    data-th-unless="${c == container.coat}"
                                    data-th-value="${c}"
                                    data-th-text="${c.str}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <td width="100"><!-- details -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="details"
                               data-th-value="${container.details}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <td width="100"><!-- purchase -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="purchase"
                               data-th-value="${container.purchase}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <td width="100"><!-- sale -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="sale"
                               data-th-value="${container.sale}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>

                <!--////////////////-->
                <td width="100"><!-- диоптрия -->
                    <form method="post" data-th-action="@{/api/updateGlass}">
                        <select onchange="this.form.submit()" name="dioptre">
                            <option
                                    data-th-each="d : ${dioptres}"
                                    data-th-if="${d == container.dioptre}" selected
                                    data-th-value="${d}"
                                    data-th-text="${d}">
                            </option>
                            <option
                                    data-th-each="d : ${dioptres}"
                                    data-th-unless="${d == container.dioptre}"
                                    data-th-value="${d}"
                                    data-th-text="${d}">
                            </option>
                        </select>
                        <input type="hidden"/>
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                    </form>
                </td>
                <!--////////////////-->

                <td width="100" align="center"><!-- Колличество (шт.) -->
                    <span data-th-text="${#lists.size(container.glassList)}"></span>
                </td>

                <!-- +1 -->
                <td>
                    <form method="post" data-th-action="@{/api/plus1Glass}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                        <input type="submit" value="+1">
                    </form>
                </td>

                <!-- -1 -->
                <td>
                    <form method="post" data-th-action="@{/api/minus1Glass}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                        <input type="submit" value="-1">
                    </form>
                </td>

                <!-- Удалить позицию-->
                <td>
                    <form method="post" data-th-action="@{/api/deleteGlassPosition}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="submit" value="Удалить позицию">
                    </form>
                </td>

                <!-- Копировать в поиск -->
                <td>
                    <form method="post" data-th-action="@{/api/copyToSearchGlasses}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="submit" value="Копир. в поиск">
                    </form>
                </td>

                <!-- В ЗАКАЗ -->
                <td>
                    <form method="post" data-th-action="@{/api/toOrder}">
                        <input type="submit" value="В ЗАКАЗ">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <hr color="red">
    </div>

    <!-- 2.  -->
    <!--    no edit table -->

    <div data-th-unless="${editMode}" id="no_edit_table">
        <hr>
        <table>
            <thead>
            <tr>
                <th align="left">№</th>
                <th align="left">Фирма</th>
                <th align="left">Материал</th>
                <th align="left">Дизайн</th>
                <th align="left">Покрытие</th>
                <th align="left">Описание</th>
                <th align="left">Закупка (руб.)</th>
                <th align="left">Розница (руб.)</th>
                <th align="left">Диоптрия</th>
                <th align="left">Количество (шт.)</th>
                <th><!-- +1 --></th>
                <th><!-- -1 --></th>
                <th><!-- Удалить позицию --></th>
                <th><!-- Копировать в поиск --></th>
                <th><!-- В ЗАКАЗ --></th>
            </tr>
            </thead>

            <tbody class="telo">
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr data-th-each="container : ${page.getContent()}">
                <!-- № и галочка-->
                <td width="80" align="left">
                    <div data-th-if="${container.id == xId}">
                        <span data-th-if="${sameContainerAlreadyExists}"
                              data-th-text="${containerStat.count} +  ' &#9989;(+1)'"></span>
                        <span data-th-unless="${sameContainerAlreadyExists}"
                              data-th-text="${containerStat.count} +  ' &#9989;'"></span>
                    </div>
                    <div data-th-unless="${container.id == xId}">
                        <span data-th-text="${containerStat.count} + '  '"></span>
                    </div>
                </td>

                <td width="150" align="left"><!-- firm -->
                    <label data-th-text="${container.firm}">*фирма*</label>
                </td>

                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                <td width="150" align="left"><!-- материал -->
                    <label data-th-text="${container.getMaterial() == null ? null : container.getMaterial().getStr()}"></label>
                </td>

                <td width="150" align="left"><!-- дизайн -->
                    <label data-th-text="${container.getDesign() == null ? null : container.getDesign().getStr()}"></label>
                </td>

                <td width="150" align="left"><!-- покрытие -->
                    <label data-th-text="${container.getCoat() == null ? null : container.getCoat().getStr()}"></label>
                </td>

                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                <td width="150" align="left"><!-- details -->
                    <label data-th-text="${container.details}">*описание*</label>
                </td>

                <td width="150" align="left"><!-- purchase -->
                    <label data-th-text="${container.purchase}">*закупка*</label>
                </td>

                <td width="150" align="left"><!-- sale -->
                    <label data-th-text="${container.sale}">*продажа*</label>
                </td>

                <td width="150" align="left"><!-- dioptre -->
                    <label data-th-text="${container.dioptre}">*диоптр*</label>
                </td>

                <td align="left"><!-- Колличество (шт.) -->
                    <span data-th-text="${#lists.size(container.glassList)}"></span>
                </td>

                <!-- Копировать в поиск -->
                <td>
                    <form method="post" data-th-action="@{/api/copyToSearchGlasses}">
                        <input type="hidden" name="xId" data-th-value="${container.id}">
                        <input type="submit" value="Копир. в поиск">
                    </form>
                </td>

                <!-- В ЗАКАЗ -->
                <td>
                    <form method="post" data-th-action="@{/api/toOrder}">
                        <input type="submit" value="В ЗАКАЗ">
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
    <br>
    <!-- info -->
    <label>
        <span data-th-if="${message_itsFullList}">Полный список:  </span>
        <span data-th-unless="${message_itsFullList}">Найдены совпадения:  </span>&nbsp;&nbsp;
        <span data-th-if="${page.getTotalPages() > 0}">cтраницa <span data-th-text="${page.getNumber() + 1}"></span> (из <span
                data-th-text="${page.getTotalPages()}"></span>)</span>&nbsp;&nbsp;&nbsp;&nbsp;
        <span data-th-unless="${page.getTotalPages() > 0}">НЕТ СОВПАДЕНИЙ</span>&nbsp;&nbsp;&nbsp;&nbsp;
        позиций: <span data-th-text="${foundPositions}"></span> (из <span
            data-th-text="${dbPositions}"></span>) &nbsp;&nbsp;&nbsp;&nbsp;
        единиц товара: <span data-th-text="${foundUnits}"></span> (из <span
            data-th-text="${dbUnits}"></span>) &nbsp;
    </label>&nbsp;&nbsp;&nbsp;&nbsp;

    <!-- <- 1 2 3 4 5 -> -->
    <!-- имеет ли смысл вообще показывать про страницы -->
    <div data-th-if="${foundPositions} and ${foundPositions > 0}">

        <!-- Назад    -->
        <a data-th-if="${page.getNumber() > 0}"
           data-th-href="@{'/api/flipGlassPage/' + ${page.getNumber() - 1}}">&#9668;</a>&nbsp;
        <label data-th-unless="${page.getNumber() > 0}">&#9668;</label>&nbsp;

        <!-- Цифры    -->
        <span data-th-each="i : ${#numbers.sequence(0, page.getTotalPages() - 1)}">
                <a data-th-if="${i != page.getNumber()}"
                   data-th-href="@{'/api/flipGlassPage/' + ${i}}">[[${i + 1}]]</a>
                <span data-th-unless="${i != page.getNumber()}" class="currentPage">[[${i + 1}]]</span>
            </span>&nbsp;

        <!--  Вперед -->
        <a data-th-if="${page.getNumber() < (page.getTotalPages() - 1)}"
           data-th-href="@{'/api/flipGlassPage/' + ${page.getNumber() + 1} }">&#9658;</a>
        <label data-th-unless="${page.getNumber() < (page.getTotalPages() - 1)}">&#9658;</label>

        <br><br>

        <hr>
        <!-- включить редактирование-->
        <form data-th-unless="${editMode}" method="get" data-th-action="@{/api/editGlass_on}">
            <input type="submit" value="Включить редактирование">
        </form>&nbsp;
        <form data-th-if="${editMode}" method="get" data-th-action="@{/api/editGlass_off}">
            <span color="red">Внимание! Включен режим редактирования. Любые внесенные изменения сохраняются.</span>
            <hr color="red">
            <input type="submit" value="Выключить редактирование">
        </form>

    </div>

</div>
<br>
<br>
<br>

<hr>


<hr>


</body>
</html>

