<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<!-- OPTICA-->
<div data-th-fragment="optica">
    <h1>
        О п т и к а
    </h1>
    <br>
    <hr>
</div>

<!-- LEFT MENU -->
<div data-th-fragment="left_menu">
    <a href="/api/order/start">Заказы</a>
    <a href="/api/client/start">Клиенты</a>

    <a href="/api/frame/start">Оправы</a>
    <a href="/api/glass/start">Очковые линзы</a>
    <a href="/api/contact/start">Контактные линзы</a>
    <a href="/api/accessory/start">Аксессуары</a>

</div>
</body>
</html>