<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<!-- OPTICA-->
<div data-th-fragment="optica" >
    <h1>
        О п т и к а "Изяч"
    </h1>
    <h2>
        Склад
    </h2>
    <br>
    <hr>
<!--    <form>-->
<!--        <input type="text" name="find0" size="20">-->
<!--        <button type="submit">-->
<!--            Найти-->
<!--        </button>-->
<!--        <hr>-->
<!--    </form>-->
</div>

<!-- LEFT MENU -->
<div data-th-fragment="left_menu" >
    <br><br><br>
    <ul>
        <li><p>
            Заказы
        </p></li>
        <li><p>
            Клиенты
        </p></li>
        <li><p>
            Склад
        </p></li>
        <li><p>
            Администратор
        </p></li>
    </ul>
</div>
</body>
</html>