<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EyeFramesList</title>
    <link rel="stylesheet" href="css/cssStorage.css">
    <script src="js/jsStorage.js"></script>
</head>
<body>

<!-- SAMBRERO-->
<div class="sambrero_div">
    <h1>
        О п т и к а "Изяч"
    </h1>
    <h2>
        Склад
    </h2>
    <form>
        <input type="text" name="find0" size="20">
        <button type="submit">
            Найти
        </button>
        <hr>
    </form>
</div>


<!-- LEFT MENU-->
<div class="leftMenu_div">
    <br><br><br>
    <ul>
        <li><p>
            Заказы
        </p></li>
        <li><p>
            Клиенты
        </p></li>
        <li><p>
            Склад
        </p></li>
        <li><p>
            Администратор
        </p></li>
    </ul>
</div>


<!-- FRAMES-->
<div class="entities_div">

    <h2>
        Оправы:
    </h2>
    <hr>

    <!-- Добавить на склад новый товар-->
    <div class="addNew">
        <form method="post" data-th-action="@{/api/crud/createFrame}">
            <table>
                <caption style=" text-align:left">
                    Добавить на склад новый товар
                </caption>
                <tbody>
                <tr>
                    <td><input type="text" placeholder="Фирма" name="firm"></td>
                    <td><input type="text" placeholder="Модель" name="model"></td>
                    <td><input type="text" placeholder="Описание" name="details"></td>
                    <td><input type="text" placeholder="Цена_закупки" name="purchasePrice"></td>
                    <td><input type="text" placeholder="Розничная_цена" name="salePrice"></td>
                </tr>
                </tbody>
            </table>
            <div data-th-if="${errors}">
                <ul>
                    <li data-th-each="err : ${errors}" data-th-text="${err}">Ош...ка!</li>
                </ul>
            </div>
            <button type="submit">Добавить запись</button>
        </form>
    </div>

    <!-- Найти -->
    <div class="findFrame">
        <form method="get" data-th-action="@{/api/arrange/filteredFrames}">
            <input type="text" name="filter">
            <button type="submit">Найти</button>
        </form>
    </div>

    <div class="dto_div">
        <!-- frames -----------|-----------|-----------|-->
        <table class="frame_table">
            <thead>
            <tr>
                <th>Фирма</th>
                <th>Модель</th>
                <th>Описание</th>
                <th>Закупка</th>
                <th>Розничная цена</th>
                <th>Создано</th>
                <th>Изменено</th>
                <th><!-- Удалить --></th>
            </tr>
            </thead>
            <tbody class="telo">
            <tr data-th-unless="${frames}"><!-- если пусто -->
                <td>
                    <span data-th-text="Пусто"></span>
                </td>
            </tr>
            <!-- for_each ------------------------------------------------------ -->
            <tr class="frame_table_tr" data-th-each="frame : ${frames}">


                <td><!-- firm -->
                    <form method="post"
                          data-th-action="@{/api/crud/updateFrame/{pageNumber}(pageNumber=${pageNumber})}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="firm"
                               data-th-value="${frame.firm}">
                        <input type="hidden" name="whichField" value="firm">
                        <input type="hidden" name="id" data-th-value="${frame.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                    </form>
                </td>
                <td><!-- model -->
                    <form method="post"
                          data-th-action="@{/api/crud/updateFrame/{pageNumber}(pageNumber=${pageNumber})}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="model"
                               data-th-value="${frame.model}">
                        <input type="hidden" name="whichField" value="model">
                        <input type="hidden" name="id" data-th-value="${frame.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                    </form>
                </td>
                <td><!-- details -->
                    <form method="post"
                          data-th-action="@{/api/crud/updateFrame/{pageNumber}(pageNumber=${pageNumber})}">
                        <input onblur=this.form.submit()
                               type="text"
                               data-th-name="details"
                               data-th-value="${frame.details}">
                        <input type="hidden" name="whichField" value="details">
                        <input type="hidden" name="id" data-th-value="${frame.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                    </form>
                </td>
                <td><!-- purchasePrice -->
                    <form method="post"
                          data-th-action="@{/api/crud/updateFrame/{pageNumber}(pageNumber=${pageNumber})}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="purchasePrice"
                               data-th-value="${frame.purchasePrice}">
                        <input type="hidden" name="whichField" value="purchasePrice">
                        <input type="hidden" name="id" data-th-value="${frame.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                    </form>
                </td>
                <td><!-- salePrice -->
                    <form method="post"
                          data-th-action="@{/api/crud/updateFrame/{pageNumber}(pageNumber=${pageNumber})}">
                        <input onblur=this.form.submit()
                               type="number"
                               data-th-name="salePrice"
                               data-th-value="${frame.salePrice}">
                        <input type="hidden" name="whichField" value="salePrice">
                        <input type="hidden" name="id" data-th-value="${frame.id}">
                        <input type="hidden" name="pageNumber" data-th-value="${pageNumber}">
                    </form>
                </td>
                <td><label data-th-text="*{#temporals.format(frame.getCreatedAt(), 'dd.MM.yy')}"></label></td>
                <td><label data-th-text="*{#temporals.format(frame.getChangedAt(), 'dd.MM.yy')}"></label></td>
                <td><!-- delete -->
                    <form method="post"
                          data-th-action="@{/api/crud/deleteFrame/{id}/{pageNumber}(id=${frame.id}, pageNumber=${pageNumber})}">
                        <input type="submit" value="Удалить" title="На хуй!">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
        <br>

        <label>
            Оправ: <span data-th-text="${totalFrames}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
            Страниц: <span data-th-text="${totalPages}"></span>&nbsp;&nbsp;&nbsp;&nbsp;
        </label>&nbsp;&nbsp;&nbsp;&nbsp;
        <!-- стрелочка назад -->
        <a data-th-if="${pageNumber > 1}" data-th-href="@{'/api/receive/updatedFrame/' + ${pageNumber - 1}}">
            &larr;
        </a>&nbsp;
        <label data-th-unless="${pageNumber > 1}">	&larr;</label>&nbsp;
        <span data-th-each="i : ${#numbers.sequence(1, totalPages)}">
            <a data-th-if="${i != pageNumber}" data-th-href="@{'/api/receive/updatedFrame/' + ${i}}">[[${i}]]</a>
            <span data-th-unless="${i != pageNumber}">[[${i}]]</span>
        </span>&nbsp;
        <!-- стрелочка вперде -->
        <a data-th-if="${pageNumber < totalPages}" data-th-href="@{'/api/receive/updatedFrame/' + ${pageNumber + 1}}">
            &rarr;
        </a>
        <label data-th-unless="${pageNumber < totalPages}">&rarr;</label>

        <br>
        <br>
        <br>
    </div>
    <br>
    <br>
    <br>
    <!-- примерчик -->
    <!--    <label>-->
    <!--        Всего элементов: <span data-th-text="${totalElements}"></span>-->
    <!--        Всего страниц: <span data-th-text="${totalPages}"></span>-->
    <!--        <br>-->
    <!--    </label>-->
    <!--    <span data-th-each="i : ${#numbers.sequence(1, totalPages)}">-->
    <!--  <a data-th-if="${i != pageNumber}" data-th-href="@{'/api/page/' + ${i}}">[[${i}]]</a>-->
    <!--  <span data-th-unless="${i != pageNumber}">[[${i}]]</span>-->
    <!--</span>-->
    <!--    <br>-->
    <!--    <a data-th-if="${pageNumber > 1}" data-th-href="@{'/api/page/' + ${pageNumber - 1}}">-->
    <!--        <button>Назад</button>-->
    <!--    </a>-->
    <!--    <button data-th-unless="${pageNumber > 1}">Назад</button>-->

    <!--    <a data-th-if="${pageNumber < totalPages}" data-th-href="@{'/api/page/' + ${pageNumber + 1}}">-->
    <!--        <button>Вперде</button>-->
    <!--    </a>-->
    <!--    <button data-th-unless="${pageNumber < totalPages}">Вперде</button>-->
    <!-- конец примерчика -->
    <hr>

    <!-- очк линзы-->
    <div>
        <h3>Очковые линзы в наличии:</h3>
        <form>
            <input type="text" size="20">
            <button type="submit">Найти</button>
        </form>
        <br>
        <table border="3">
            <thead>
            <tr>
                <th> №</th>
                <th> Фирма</th>
                <th> Модель</th>
                <th> Материал</th>
                <th> Тип</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="glens : ${glenses}">
                <td><label data-th-text="${glens.id}"></label></td>
                <td><label data-th-text="${glens.firm}"></label></td>
                <td><label data-th-text="${glens.model}"></label></td>
                <td><label data-th-text="${glens.material}"></label></td>
                <td><label data-th-text="${glens.type}"></label></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<!-- канец очк линз-->


</body>
</html>

