<!DOCTYPE html>
<html>
<head>
    <title>Example</title>
    <script src="js/jsTest.js"></script>
    <link rel="stylesheet" href="css/styleTest.css">
</head>
<body>

<form>
    <input class="i1_class" onfocus="onfocusfun1()" onblur="onblurfun1()" type="text" placeholder=".....1">
    <input class="i2_class" onfocus="onfocusfun2()" onblur="onblurfun2()" type="text" placeholder=".....2">
    <input class="i3_class" onfocus="onfocusfun3()" onblur="onblurfun3()" type="text" placeholder=".....3">
</form>

</body>
</html>